annotated-types
anyio
blinker
certifi
charset-normalizer
click
distro
exceptiongroup
Flask
gTTS
h11
httpcore
httpx
idna
itsdangerous
Jinja2
joblib
MarkupSafe
nltk
openai
pydantic
pydantic_core
pyTelegramBotAPI
regex
requests
sniffio
telegram
textblob
tqdm
typing_extensions
urllib3
Werkzeug
